<div id="Home" class="main-container">
    <div class="inner-container">
        <nav>
            <span class="material-symbols-outlined color-white">
                <h1 >Shimmy.</h1>
            </span>
            <ul>
                <li><a href="../../../assets/img/web-development.jpg" class="color-white">Home</a></li>
                <li><a href="#AboutMe" class="color-white">About Me</a></li>
                <li><a href="#portfolio" class="color-white">Portfolio</a></li>
                <li><a href="#Resume" class="color-white">Resume</a></li>
                <li><a href="#Contactus" class="color-white">Contact Us</a></li>
                <li class="dropdown">
                    <span class="material-symbols-outlined">
                        menu
                    </span>
                    <div class="dropdown-content">
                        <a href="#AboutMe">About Me</a>
                        <a href="#portfolio">Portfolio</a>
                        <a href="#Resume">Resume</a>
                    </div>
                </li>
            </ul>
        </nav>
        <section>
            <div class="main-section">
                <div class="section-content">
            
                    <h1 style="color:grey">UI/UX Designer</h1>
                    
                    <h1>Hi,I'm Katlego Tefu<br> From South Africa</h1>
                
                    <small class="color-white">On the other hand, we denounce with righteous indignation and dislike
                        men who are so
                        beguiled
                        demord by</small>
                    <button class=" btn black-bg" style="color: white;">My Work</button>
                </div>

                <div class="section-image flex-center-center no-margin">
                    <img class="size-imag" src="../../../assets/img/portfolio-1.jpg" alt="Profile Picture">
                </div>
            </div>
        </section>
    </div>
</div>

<!-- About Me -->

<div id="AboutMe" class="main-container">
    <div class="inner-container">
        <section>
            <h2>About Me</h2>
            <div class="main-section ">
                <div class="section-content color-white">

                    <h2>Hoowdy!!</h2>
                    <p><small>On the other hand, we denounce with righteous indignation and dislike men
                            who are so beguiled and demoralized by th charms of pleasure of the moment,
                            so blinded by desire, tht they cannot foresee the pain and trouble that are</small></p>
                    <button class=" btn black-bg" style="color: white;">Download My Resume</button>


                </div>
                <div class="section-image width-50  ">
                    <div class="slidecontainer flex-col">
                        <p>Designs</p>
                        <input type="range" min="1" max="100" value="90" class="width-300px">
                        <!-- </div> -->
                        <!-- <div class="slidecontainer"> -->
                        <p>Html & CSS</p>
                        <input type="range" min="1" max="100" value="85" class="width-300px">
                        <!-- </div> -->
                        <!-- <div class="slidecontainer"> -->
                        <p>AngularJS</p>
                        <input type="range" min="1" max="100" value="90" class="width-300px">
                    </div>

                    <!-- <img class="size-imag" src="./img/portfolio-7.jpg" alt="Profile Picture"> -->
                </div>
            </div>
        </section>

    </div>
    <!-- <div class="inner-container"></div> -->

</div>
